.greenSquare,
.yellowSquare,
.redSquare, .borderSquare {
  height: 23px;
  min-width: 23px;
  max-width: 23px;
  border-radius: 4px;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  cursor: pointer;
  -moz-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -ms-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.completedText{
  color: var(--level-color);
  font-size: 16px;
}
.borderSquare{
  color: var(--accent) !important;
  background: var(--background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.greenSquare, .greenBorderSquare {
  border: 2px solid var(--green);
  background-color: var(--green) !important;
}
.yellowSquare, .yellowBorderSquare {
  border: 2px solid var(--yellow);
  background-color: var(--yellow) !important;
}
.redSquare, .redBorderSquare {
  border: 2px solid var(--red);
  background-color: var(--red) !important;
}

.greenBorderSquare, .yellowBorderSquare, .redBorderSquare{
  background-color: var(--background-dark) !important;
}

.active {
  background-color: var(--background-dark) !important;
}

.greenSquare:hover,
.yellowSquare:hover,
.redSquare:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  opacity: 0.9;
}

.greenSquare:active,
.yellowSquare:active,
.redSquare:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8;
}

.levelTitle {
  color: var(--level-color);
  font-size: 16px;
  margin: 0px;
  font-weight: 500;
  font-family: var(--main-font);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagination {
  background: var(--background-dark);
  border: 2px solid var(--border);
  color: var(--accent);
  border-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.pagination:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pagination:disabled:hover {
  border: 2px var(--red) solid;
  color: var(--red);
}

.pagination:nth-of-type(1):hover {
  -webkit-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  transform: translateX(-3px);
}

.pagination:nth-of-type(1):active {
  -webkit-transform: translateX(2px) scale(0.95);
  -ms-transform: translateX(2px) scale(0.95);
  transform: translateX(2px) scale(0.95);
}

.pagination:nth-of-type(2):hover {
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
}

.pagination:nth-of-type(2):active {
  -webkit-transform: translateX(-2px) scale(0.95);
  -ms-transform: translateX(-2px) scale(0.95);
  transform: translateX(-2px) scale(0.95);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 14px;
}
