.grid {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding: 12px 24px;
}

.card {
  background-color: var(--border);
  border-radius: 16px;
  border: 2px solid transparent;
  padding: 8px 16px;
  color: var(--color);
  font-family: var(--main-font);
  cursor: pointer;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.card:hover {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.2);
}

.card:active {
  opacity: 0.8;
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}

.card p {
  color: var(--color);
  margin: 0;
}

.card p span {
  color: var(--color);
  opacity: 0.6;
  font-size: 14px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  opacity: 1 !important;
}

.registered {
  color: var(--color);
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dialog {
  background: var(--background);
  z-index: 10;
  width: 68vh;
  position: fixed;
  border: 1px solid var(--border);
  border-radius: 18px;
  padding: 14px 24px !important;
}

.dialog h1 {
  color: var(--color);
  font-weight: 500;
  font-size: 28px;
  padding: 0px !important;
}

.dialog button {
  background-color: var(--background-dark);
  color: var(--accent);
  font-size: 16px;
  font-weight: 700;
}

.dialog input {
  background-color: rgba(48, 54, 61, 0.5);
  border: none;
  border-radius: 10px;
  color: var(--color);
  padding: 4px 8px !important;
  width: auto;
}

.dialog select {
  background-color: rgba(48, 54, 61, 0.5);
  border: none;
  border-radius: 10px;
  color: var(--color);
  padding: 4px 12px !important;
  border: 2px solid transparent;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: auto;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  text-transform: capitalize;
}

.dialog select:hover {
  background: var(--background-light);
  border: 2px solid rgba(48, 54, 61, 0.5);
}

.closebutton {
  background-color: var(--background-dark);
  color: var(--accent);
  border: 2px solid var(--border);
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 12px 4px var(--background);
  box-shadow: 0px 0px 12px 4px var(--background);
  z-index: 3;
}

.card h2 {
  color: var(--accent);
  margin: 0px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}

.levels {
  background: var(--background-dark);
  margin-bottom: 8px;
  margin-top: 16px;
  padding: 4px 8px;
  border-radius: 8px;
}

.levelIndicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progress {
  cursor: pointer;
  max-width: 180px;
  min-width: 100px;
  width: 69%;
  border-radius: 20px;
  height: 8px;
  background: #ffca630e;
  border: 1px solid var(--border);
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.progress div {
  border-radius: 20px;
  width: 0%;
  padding: 0.1px;
  background: var(--green);
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  height: 100%;
}

.logout {
  background-color: #d133330e !important;
  color: var(--red) !important;
  border: 2px solid var(--red);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.logout:hover {
  background: var(--red) !important;
  color: var(--background) !important;
}

.logout:active {
  background: var(--red) !important;
  color: var(--background) !important;
  -webkit-transform: scale(0.9) rotate(2deg);
  -ms-transform: scale(0.9) rotate(2deg);
  transform: scale(0.9) rotate(2deg);
  opacity: 0.9;
}

.settingFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 12px;
}

@media only screen and (max-width: 620px) {
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .dialog input {
    width: 150px;
  }
}

@media only screen and (max-width: 460px) {
  .dialog {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
s