.main {
  padding: 2rem;
  min-height: 94vh;
  height: 100%;
  -webkit-transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  -o-transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 36px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 2rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 36px;
}

.main li,
.blockquote p {
  margin: 0px;
  color: var(--color);
}
.container p {
  margin: 0px;
  color: var(--level-color);
}

.container div {
  max-width: 60vw;
}

.main li::marker,
.blockquotewarn p,
.main li span {
  color: var(--yellow);
  margin: 0;
}
.container svg {
  font-size: 74px;
  color: var(--yellow);
}

.blockquote {
  color: var(--color);
  background: rgba(255, 255, 255, 0.05);
  padding: 12px 20px;
  border-radius: 14px;
  border: 2px solid var(--accent);
  border-left-width: 6px;
}

.blockquotewarn {
  color: var(--yellow);
  background: #222324;
  padding: 12px 20px;
  border-radius: 14px;
  border: 2px solid var(--yellow);
  border-left-width: 6px;
  padding-left: 8px;
  width: -webkit-fill-available;
  margin: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
}

.blockquotewarn svg {
  font-size: 22px;
  min-width: 32px;
}

.buttons {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.login {
  border: 2px solid transparent;
  background: var(--accent);
  border-radius: 12px;
  padding: 6px 14px;
  color: var(--background);
  font-family: var(--main-font);
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.course {
  background-color: var(--background-dark);
  color: var(--accent);
  border: 2px solid var(--border);
  font-family: var(--main-font);

  border-radius: 12px;
  padding: 6px 14px;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.login:hover,
.course:hover {
  opacity: 0.9;
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.login:active,
.course:active {
  opacity: 0.8;
  -webkit-transform: scale(0.95) rotate(-2deg);
  -ms-transform: scale(0.95) rotate(-2deg);
  transform: scale(0.95) rotate(-2deg);
}
