.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url('/backdrop.png');
  background-size: cover;
  background-position: center;
}

.login {
  background-color: var(--background-light);
  border: 2px solid var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32vw;
  min-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px 32px;
  border-radius: 32px;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login h2 {
  color: var(--color);
}

.login select {
  background-color: rgba(48, 54, 61, 0.5);
  border: none;
  border-radius: 10px;
  color: var(--color);
  padding: 4px 12px !important;
  border: 2px solid transparent;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: auto;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  text-transform: capitalize;
}

.login select:hover {
  background: var(--background-light);
  border: 2px solid rgba(48, 54, 61, 0.5);
}

.login button {
  background-color: var(--background-dark);
  color: var(--accent);
  border: 2px solid var(--border);
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;

  width: -webkit-fit-content;

  width: -moz-fit-content;

  width: fit-content;
}

.login button:disabled {
  border: 2px solid var(--yellow) !important;
  background: #ffca630e !important;
  color: var(--yellow) !important;
}
.login input {
  background-color: rgba(48, 54, 61, 0.5);
  border: none;
  border-radius: 10px;
  color: var(--color);
  padding: 4px 8px !important;
  outline: none;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 92vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container h1 {
  color: var(--accent);
}
