.codeWrapper {
  max-height: 96vh;
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--code-editor);
  border: 2px solid var(--border);
  padding: 8px 4px;
  border-radius: 20px;
  width: -webkit-fill-available;
  min-height: 86vh;
}

.sideContainer {
  background: var(--buttons);
  border: 2px solid var(--border);
  border-radius: 18px;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sideContainer p {
  color: var(--color);
}

.sideContainer p {
  margin: 0px;
}

.sideContainer h3 {
  margin: 0px !important;
  margin-bottom: 12px !important;
}

.codeWrapper p,
.sideContainer h3 {
  margin: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 8px;
  font-weight: 700;
  margin-left: 12px;
  font-size: 14px;
  font-family: var(--jb-font) !important;
  color: var(--tip-color);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 20px 1fr;
  grid-template-columns: 0.3fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;

  gap: 20px;
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.caseChild {
 display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 20px 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 20px;
}

.caseChild > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.caseChild > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.moveButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.moveButtons button {
  background: var(--background-dark);
  border: 2px solid var(--border);
  color: var(--accent);
  border-radius: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moveButtons button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.moveButtons button:disabled:hover {
  border: 2px var(--red) solid;
  color: var(--red);
}

.moveButtons button:nth-of-type(1):hover {
  -webkit-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  transform: translateX(-3px);
}

.moveButtons button:nth-of-type(1):active {
  -webkit-transform: translateX(2px) scale(0.95);
  -ms-transform: translateX(2px) scale(0.95);
  transform: translateX(2px) scale(0.95);
}

.moveButtons button:nth-of-type(2):hover {
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
  transform: translateX(3px);
}

.moveButtons button:nth-of-type(2):active {
  -webkit-transform: translateX(-2px) scale(0.95);
  -ms-transform: translateX(-2px) scale(0.95);
  transform: translateX(-2px) scale(0.95);
}

.testCase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
}

.testCase div p {
  color: var(--accent);
  font-family: var(--space) !important;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.qna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 24px;
  color: var(--color);
  padding: 7px 14px;
}

.qna h2 {
  margin: 0px;
  text-decoration: underline solid 2px var(--signature);
}

.closebutton {
  background-color: var(--background-dark);
  color: var(--accent);
  border: 2px solid var(--border);
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 12px 4px var(--background);
  box-shadow: 0px 0px 12px 4px var(--background);
  z-index: 3;
}

.settingFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 12px;
}

.buttonHolders {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  position: absolute;
  z-index: 2;
  right: 8px;
}
.run {
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 16px;
  padding: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  background: var(--signature);
    border: 3px solid transparent;
    color: var(--background);
  border-radius: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  
  text-decoration: none;
}

.run:hover {
  opacity: 0.9;
    border: 3px solid var(--signature);
  background-color: transparent;
  color: var(--signature);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.run:disabled:hover {
  opacity: 0.9;
  background-color: #d13333ab;
  color: #f0f0f0;
  border: 1.9px solid var(--border);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.run:disabled:active {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  opacity: 0.9;
  background-color: #d13333b6;
  color: #f0f0f0;
}

.runCases {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.runCases div {
  height: -webkit-fill-available;
}


.runner {
  background: var(--background);
  z-index: 10;
  width: 90vw;
  top: 50%;
  bottom: 50%;
  position: fixed;
  border: 1px solid var(--border);
  border-radius: 36px;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

.run:active {
  -webkit-transform: scale(0.9) rotate(-2deg);
  -ms-transform: scale(0.9) rotate(-2deg);
  transform: scale(0.9) rotate(-2deg);
  opacity: 0.8;
  background-color: var(--signature);
  color: var(--background);
}


.submit {
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 16px;
  padding: 6px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  background: var(--background-light);
  border: 1.9px solid var(--border);
  color: var(--accent);
  border-radius: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.closeRunner {
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 16px;
  padding: 6px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  background: var(--red);
  border: 1.9px solid var(--border);
  color: var(--background-dark);
  border-radius: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  -o-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.submit:hover {
  opacity: 0.9;
  background-color: rgba(78, 208, 57, 0.42);
  color: #f0f0f0;
  border: 1.9px solid transparent;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.closeRunner:hover {
  opacity: 0.9;
  background-color: #d13333ab;
  color: var(--background-dark);
  border: 1.9px solid transparent;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.submit:disabled:hover, .closeRunner:disabled:hover {
  opacity: 0.9;
  background-color: #d13333ab;
  color: #f0f0f0;
  border: 1.9px solid var(--border);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.submit:disabled:active, .closeRunner:disabled:active {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  opacity: 0.9;
  background-color: #d13333b6;
  color: #f0f0f0;
}

.submit:active {
  -webkit-transform: scale(0.9) rotate(-2deg);
  -ms-transform: scale(0.9) rotate(-2deg);
  transform: scale(0.9) rotate(-2deg);
  opacity: 0.9;
  background-color: rgba(78, 208, 57, 0.42);
  color: #f0f0f0;
}
.closeRunner:active {
  -webkit-transform: scale(0.9) rotate(-2deg);
  -ms-transform: scale(0.9) rotate(-2deg);
  transform: scale(0.9) rotate(-2deg);
  opacity: 0.9;
  background-color: var(--red);
  color: var(--background-dark);
}

.result {
  background: var(--background-light);
  border: 2px solid var(--border);
  border-radius: 18px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  gap: 12px;
  margin-top: 20px;
}

.completed {
  position: fixed;
  top: 20px;
  z-index: 3;
  right: 20px;
  padding: 16px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #65d1334d;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 2px solid var(--green);
  border-radius: 12px;
  color: var(--green);
  border-right-width: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.completed p {
  margin: 0;
}

.result h2 {
  margin: 0px;
}

.resVar {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 4px;
  -moz-column-gap: 12px;
  -webkit-column-gap: 12px;
  column-gap: 12px;
  justify-items: start;
  grid-auto-flow: column;
  -ms-grid-rows: 1fr 4px 1fr 4px 1fr 4px 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.error {
  color: var(--red);
}

@media only screen and (max-width: 910px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.3fr 1fr;
    grid-template-rows: 0.3fr 1fr;
  }
  .grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .caseChild {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .caseChild > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .caseChild > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

@media only screen and (max-width: 620px) {
  .runner {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .runner .codeWrapper {
    display: none;
  }

  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .qna {
    padding: 0px;
  }

  .caseChild {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 460px) {
  .qna {
    padding: 18px;
  }

  .submit, .run {
    right: 18px !important;
  }
}
